button, div, form, input {
    margin: 10px;
}

body {
    background: url(../images/heic1313b.jpg);
    font-family: 'Caveat Brush', cursive;
    color: lightgreen;
    font-size: 18pt;
}

h1 {
    color: palevioletred;
}

form {
    color: darkorchid;
    font-weight: bold;
}

.gifButton {
    background: cornflowerblue;
    color: white;
}